CVS
*.o
*.lo
Makefile
config.*
*.a

# Ignore all of these files
# git_status
patches/
./pcc/aa.c
pcc/cc/cc/2q
pcc/cc/cc/a.out
pcc/cc/cc/aa.c
pcc/cc/cc/aa.s
pcc/cc/cc/aa_gcc.s
pcc/cc/cc/cc
pcc/cc/cc/ccom
pcc/cc/cc/cpp
pcc/cc/cc/curl_test.c
pcc/cc/cc/gcc_warn
pcc/cc/cc/nfree.c
pcc/cc/cc/nfree.s
pcc/cc/cc/nfree_gcc.s
pcc/cc/ccom/ccom
pcc/cc/ccom/cgram.c
pcc/cc/ccom/cgram.h
pcc/cc/ccom/external.c
pcc/cc/ccom/external.h
pcc/cc/ccom/mkext
pcc/cc/ccom/scan.c
pcc/cc/cpp/aa.c
pcc/cc/cpp/cpp
pcc/cc/cxxcom/cgram.c
pcc/cc/cxxcom/cgram.h
pcc/cc/cxxcom/cxxcom
pcc/cc/cxxcom/external.c
pcc/cc/cxxcom/external.h
pcc/cc/cxxcom/mkext
pcc/cc/cxxcom/scan.c

